WcfServiceApp/WcfApp/Service References/SearchSv/SearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phim" nillable="true" type="tns:Phim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhim" nillable="true" type="tns:ArrayOfPhim" />
  <xs:complexType name="Phim">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dao_dien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dien_vien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phim" nillable="true" type="tns:Phim" />
</xs:schema>