WcfServiceApp/WcfApp/Service References/SearchSv/SearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1692/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
  <xs:import schemaLocation="http://localhost:1692/SearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DocTatCa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTatCaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTatCaResult" nillable="true" type="q1:ArrayOfPhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DocTheLoaiResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocPhimTheoTheLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theloai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocPhimTheoTheLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocPhimTheoTheLoaiResult" nillable="true" type="q3:ArrayOfPhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>