WcfServiceApp/WcfApp/Service References/ServiceCaChieu/ServiceCaChieu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCaChieu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaChieu" nillable="true" type="tns:CaChieu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaChieu" nillable="true" type="tns:ArrayOfCaChieu" />
  <xs:complexType name="CaChieu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gio_bat_dau" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phut_bat_dau" type="xs:int" />
      <xs:element minOccurs="0" name="So_phut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaChieu" nillable="true" type="tns:CaChieu" />
</xs:schema>