WcfServiceApp/WcfApp/Service References/ServiceDangNhap/ServiceDangNhap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDangNhap" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1692/ServiceDangNhap.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceDangNhap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceDangNhap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDangNhap_dangnhap_InputMessage">
    <wsdl:part name="parameters" element="tns:dangnhap" />
  </wsdl:message>
  <wsdl:message name="IServiceDangNhap_dangnhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:dangnhapResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDangNhap_dangky_InputMessage">
    <wsdl:part name="parameters" element="tns:dangky" />
  </wsdl:message>
  <wsdl:message name="IServiceDangNhap_dangky_OutputMessage">
    <wsdl:part name="parameters" element="tns:dangkyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDangNhap_lietke_InputMessage">
    <wsdl:part name="parameters" element="tns:lietke" />
  </wsdl:message>
  <wsdl:message name="IServiceDangNhap_lietke_OutputMessage">
    <wsdl:part name="parameters" element="tns:lietkeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDangNhap">
    <wsdl:operation name="dangnhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDangNhap/dangnhap" message="tns:IServiceDangNhap_dangnhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDangNhap/dangnhapResponse" message="tns:IServiceDangNhap_dangnhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dangky">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDangNhap/dangky" message="tns:IServiceDangNhap_dangky_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDangNhap/dangkyResponse" message="tns:IServiceDangNhap_dangky_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lietke">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDangNhap/lietke" message="tns:IServiceDangNhap_lietke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDangNhap/lietkeResponse" message="tns:IServiceDangNhap_lietke_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDangNhap" type="tns:IServiceDangNhap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dangnhap">
      <soap:operation soapAction="http://tempuri.org/IServiceDangNhap/dangnhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dangky">
      <soap:operation soapAction="http://tempuri.org/IServiceDangNhap/dangky" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lietke">
      <soap:operation soapAction="http://tempuri.org/IServiceDangNhap/lietke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDangNhap">
    <wsdl:port name="BasicHttpBinding_IServiceDangNhap" binding="tns:BasicHttpBinding_IServiceDangNhap">
      <soap:address location="http://localhost:1692/ServiceDangNhap.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>