WcfServiceApp/WcfApp/Service References/WcfService/ServiceCongTy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CongTy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dia_chi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dien_thoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="So_tuan_lap_lich" type="xs:int" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CongTy" nillable="true" type="tns:CongTy" />
  <xs:complexType name="ArrayOfCongTy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CongTy" nillable="true" type="tns:CongTy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCongTy" nillable="true" type="tns:ArrayOfCongTy" />
  <xs:complexType name="CONG_TY">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dia_chi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dien_thoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="So_tuan_lap_lich" type="xs:int" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CONG_TY" nillable="true" type="tns:CONG_TY" />
</xs:schema>