WcfServiceApp/WcfApp/Service References/WcfService/ServiceCongTy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCongTy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1692/ServiceCongTy.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceCongTy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceCongTy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCongTy_DocTheoId_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoId" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_DocTheoId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_DocTatCa_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTatCa" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_DocTatCa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTatCaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Them_InputMessage">
    <wsdl:part name="parameters" element="tns:Them" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Them_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Sua_InputMessage">
    <wsdl:part name="parameters" element="tns:Sua" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Sua_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Huy_InputMessage">
    <wsdl:part name="parameters" element="tns:Huy" />
  </wsdl:message>
  <wsdl:message name="IServiceCongTy_Huy_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuyResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCongTy">
    <wsdl:operation name="DocTheoId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCongTy/DocTheoId" message="tns:IServiceCongTy_DocTheoId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCongTy/DocTheoIdResponse" message="tns:IServiceCongTy_DocTheoId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTatCa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCongTy/DocTatCa" message="tns:IServiceCongTy_DocTatCa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCongTy/DocTatCaResponse" message="tns:IServiceCongTy_DocTatCa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Them">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCongTy/Them" message="tns:IServiceCongTy_Them_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCongTy/ThemResponse" message="tns:IServiceCongTy_Them_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCongTy/Sua" message="tns:IServiceCongTy_Sua_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCongTy/SuaResponse" message="tns:IServiceCongTy_Sua_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Huy">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCongTy/Huy" message="tns:IServiceCongTy_Huy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCongTy/HuyResponse" message="tns:IServiceCongTy_Huy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCongTy" type="tns:IServiceCongTy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocTheoId">
      <soap:operation soapAction="http://tempuri.org/IServiceCongTy/DocTheoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTatCa">
      <soap:operation soapAction="http://tempuri.org/IServiceCongTy/DocTatCa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them">
      <soap:operation soapAction="http://tempuri.org/IServiceCongTy/Them" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <soap:operation soapAction="http://tempuri.org/IServiceCongTy/Sua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Huy">
      <soap:operation soapAction="http://tempuri.org/IServiceCongTy/Huy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCongTy">
    <wsdl:port name="BasicHttpBinding_IServiceCongTy" binding="tns:BasicHttpBinding_IServiceCongTy">
      <soap:address location="http://localhost:1692/ServiceCongTy.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>