WcfServiceApp/WcfApp/Service References/WcfService/ServiceCongTy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1692/ServiceCongTy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
  <xs:element name="DocTheoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTheoIdResult" nillable="true" type="q1:CongTy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTatCa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTatCaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTatCaResult" nillable="true" type="q2:ArrayOfCongTy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="congty" nillable="true" type="q3:CONG_TY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sua">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="congty" nillable="true" type="q4:CongTy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Huy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HuyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>