WcfServiceApp/WcfApp/Service References/ServiceXuatChieu/ServiceXuatChieu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfXuatChieu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XuatChieu" nillable="true" type="tns:XuatChieu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXuatChieu" nillable="true" type="tns:ArrayOfXuatChieu" />
  <xs:complexType name="XuatChieu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ngay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phong" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XuatChieu" nillable="true" type="tns:XuatChieu" />
  <xs:complexType name="ArrayOfNgay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ngay" nillable="true" type="tns:Ngay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNgay" nillable="true" type="tns:ArrayOfNgay" />
  <xs:complexType name="Ngay">
    <xs:sequence>
      <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ngay" nillable="true" type="tns:Ngay" />
</xs:schema>