WcfServiceApp/WcfApp/Service References/ServiceXuatChieu/ServiceXuatChieu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceXuatChieu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1692/ServiceXuatChieu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceXuatChieu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceXuatChieu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceXuatChieu_DocTheoPhim_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoPhim" />
  </wsdl:message>
  <wsdl:message name="IServiceXuatChieu_DocTheoPhim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoPhimResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXuatChieu_DocTheoMa_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoMa" />
  </wsdl:message>
  <wsdl:message name="IServiceXuatChieu_DocTheoMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoMaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceXuatChieu_layngay_InputMessage">
    <wsdl:part name="parameters" element="tns:layngay" />
  </wsdl:message>
  <wsdl:message name="IServiceXuatChieu_layngay_OutputMessage">
    <wsdl:part name="parameters" element="tns:layngayResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceXuatChieu">
    <wsdl:operation name="DocTheoPhim">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXuatChieu/DocTheoPhim" message="tns:IServiceXuatChieu_DocTheoPhim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXuatChieu/DocTheoPhimResponse" message="tns:IServiceXuatChieu_DocTheoPhim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocTheoMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXuatChieu/DocTheoMa" message="tns:IServiceXuatChieu_DocTheoMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXuatChieu/DocTheoMaResponse" message="tns:IServiceXuatChieu_DocTheoMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layngay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceXuatChieu/layngay" message="tns:IServiceXuatChieu_layngay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceXuatChieu/layngayResponse" message="tns:IServiceXuatChieu_layngay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceXuatChieu" type="tns:IServiceXuatChieu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocTheoPhim">
      <soap:operation soapAction="http://tempuri.org/IServiceXuatChieu/DocTheoPhim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTheoMa">
      <soap:operation soapAction="http://tempuri.org/IServiceXuatChieu/DocTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layngay">
      <soap:operation soapAction="http://tempuri.org/IServiceXuatChieu/layngay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceXuatChieu">
    <wsdl:port name="BasicHttpBinding_IServiceXuatChieu" binding="tns:BasicHttpBinding_IServiceXuatChieu">
      <soap:address location="http://localhost:1692/ServiceXuatChieu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>