WcfServiceApp/WcfApp/Service References/ServiceXuatChieu/ServiceXuatChieu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1692/ServiceXuatChieu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
  <xs:element name="DocTheoPhim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheoPhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTheoPhimResult" nillable="true" type="q1:ArrayOfXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTheoMaResult" nillable="true" type="q2:XuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layngay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layngayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="layngayResult" nillable="true" type="q3:ArrayOfNgay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>