WcfServiceApp/WcfApp/Service References/ServiceMovie/ServiceMovies.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMovies" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1692/ServiceMovies.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceMovies.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1692/ServiceMovies.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMovies_DocTheoLich_InputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoLich" />
  </wsdl:message>
  <wsdl:message name="IServiceMovies_DocTheoLich_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocTheoLichResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMovies_Doctheocachieu_InputMessage">
    <wsdl:part name="parameters" element="tns:Doctheocachieu" />
  </wsdl:message>
  <wsdl:message name="IServiceMovies_Doctheocachieu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoctheocachieuResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMovies">
    <wsdl:operation name="DocTheoLich">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovies/DocTheoLich" message="tns:IServiceMovies_DocTheoLich_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovies/DocTheoLichResponse" message="tns:IServiceMovies_DocTheoLich_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Doctheocachieu">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovies/Doctheocachieu" message="tns:IServiceMovies_Doctheocachieu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovies/DoctheocachieuResponse" message="tns:IServiceMovies_Doctheocachieu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMovies" type="tns:IServiceMovies">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocTheoLich">
      <soap:operation soapAction="http://tempuri.org/IServiceMovies/DocTheoLich" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Doctheocachieu">
      <soap:operation soapAction="http://tempuri.org/IServiceMovies/Doctheocachieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMovies">
    <wsdl:port name="BasicHttpBinding_IServiceMovies" binding="tns:BasicHttpBinding_IServiceMovies">
      <soap:address location="http://localhost:1692/ServiceMovies.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>