WcfServiceApp/WcfApp/Service References/ServiceMovie/ServiceMovies2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1692/ServiceMovies.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
  <xs:element name="DocTheoLich">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTheoLichResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DocTheoLichResult" nillable="true" type="q1:ArrayOfPhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Doctheocachieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngaychon" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id_cachon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctheocachieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="DoctheocachieuResult" nillable="true" type="q2:ArrayOfPHIM_ALL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>